In [44]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [45]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [46]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [47]:
filter = titles['title'].value_counts().head(10)
filter

Hamlet                  18
Carmen                  16
Macbeth                 15
Maya                    12
The Outsider            12
The Three Musketeers    11
Temptation              11
Kismet                  11
Freedom                 11
Othello                 11
Name: title, dtype: int64

In [48]:
# !conda upgrade pandas
# !pip install --upgrade pandas
print(pd.__version__)

1.5.0

### Which three years in the 1930s saw the most films released?

In [49]:
filter = titles[titles['year'].between(1930,1939)]
filter = filter.groupby(by='year').count().reset_index().nlargest(3, 'title').sort_values(by='title', ascending = False)
filter
# filter.sort_values(filter.columns[1])

   year  title
7  1937   1196
6  1936   1138
8  1938   1129

### Count the number of films that have been released in each decade over the history of cinema.

In [50]:
titles['decade'] = (titles['year'] // 10) * 10
# titles.groupby('decade').agg({'title': 'count'})

In [51]:
titles.head(3)

                     title  year  decade
0           The Rising Son  1990    1990
1  The Thousand Plane Raid  1969    1960
2         Crucea de piatra  1993    1990

### Count the number of "Hamlet" films made in each decade.

In [52]:
filter = titles[titles['title'] == 'Hamlet'].groupby('decade')['decade'].count()
filter

decade
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
Name: decade, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [53]:
cast['decade'] = (cast['year'] // 10) * 10
cast

,title,year,name,type,character,n,decade
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN,2010
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0,1980
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0,2010
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN,2010
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN,2010
...,...,...,...,...,...,...,...
3634462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0,1980
3634463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0,2000
3634464,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0,1980
3634465,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0,2000
3634466,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN,1990

In [55]:
filter = cast[cast['character'] == 'Rustler'].groupby('decade')['decade'].count()
filter

decade
1920     6
1930    84
1940    18
1950     8
1960     2
1970     9
1980     1
1990     4
2000     2
Name: decade, dtype: int64

### Count the number of "Hamlet" characters in each decade.

In [56]:
filter = cast[cast['character'] == 'Hamlet'].groupby('decade')['decade'].count()
filter

decade
1910     6
1920     1
1930     6
1940     1
1950     3
1960     7
1970     8
1980     2
1990    11
2000    19
2010    28
Name: decade, dtype: int64

### What are the 11 most common character names in movie history?

In [73]:
filter = cast.groupby(by='character')['character'].count().nlargest(11)
filter

character
Himself        19600
Dancer         12096
Extra          10953
Reporter        8154
Doctor          7436
Student         7177
Policeman       6883
Party Guest     6742
Nurse           6676
Bartender       6613
Minor Role      6255
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [76]:
filter = cast[cast['character'] == 'Herself'].groupby('name')['name'].count().nlargest(10)
filter

name
Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Hillary Clinton        7
Mary Jo Pehl           7
Joan Rivers            6
Sumie Sakai            6
Bunny Yeager           5
Caroline Rhea          5
Kareena Kapoor         5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [77]:
filter = cast[cast['character'] == 'Himself'].groupby('name')['name'].count().nlargest(10)
filter

name
Adolf Hitler          100
Richard Nixon          46
Ronald Reagan          39
John F. Kennedy        34
Winston Churchill      24
Benito Mussolini       23
George W. Bush         23
Ron Jeremy             23
Martin Luther King     21
Bill Clinton           20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [78]:
filter = cast[cast['year'] == 1945].groupby('name')['name'].count().nlargest(10)
filter

name
Emmett Vogan        39
Sam (II) Harris     32
Bess Flowers        29
Harold Miller       29
Frank O'Connor      27
Nolan Leary         27
Franklyn Farnum     26
Larry Steers        25
Charles Sullivan    24
Edmund Cobb         24
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?

In [79]:
filter = cast[cast['year'] == 1985].groupby('name')['name'].count().nlargest(10)
filter

name
Mammootty        22
Shakti Kapoor    21
Sukumari         20
Aruna Irani      15
Lou Scheimer     15
Mohanlal         15
Raj Babbar       15
Asrani           13
Deven Verma      13
Om Shivpuri      13
Name: name, dtype: int64

### How many roles "Mammootty" has played in each year of his career.

In [81]:
filter = cast[cast['name'] == 'Mammootty'].groupby('year')['year'].count()
filter

year
1971     1
1980     2
1981     3
1982     7
1983    18
1984    16
1985    22
1986    18
1987     9
1988     7
1989    10
1990    15
1991     6
1992     3
1993     5
1994     5
1995     5
1996     3
1997     2
1998     4
1999     4
2000     7
2001     3
2002     3
2003     2
2004     8
2005     6
2006     8
2007     7
2008     9
2009    12
2010     9
2011     7
2012     7
2013     5
2014     6
2015     6
2016     4
2017     1
Name: year, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [84]:
filter = cast[cast['character'].str.startswith('Patron in')].groupby('character')['character'].count().nlargest(10)
filter

character
Patron in Frisky Rabbit         16
Patron in Chinese Restaurant     9
Patron in the Coffee House       9
Patron in Billiard Parlor        5
Patron in Bar                    4
Patron in restaurant             4
Patron in Club                   3
Patron in Restaurant             3
Patron in cabaret                3
Patron in Audience               2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [85]:
filter = cast[cast['character'].str.startswith('Science')].groupby('character')['character'].count().nlargest(10)
filter

character
Science Teacher         60
Science Fair Student     9
Science Student          9
Science Fair Judge       6
Science Club Member      5
Science Kid              5
Science Promo Cadet      5
Science Reporter         5
Science                  4
Science Fair Kid         3
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [87]:
filter = cast[cast['name'] =='Judi Dench'].groupby('n')['n'].count()
filter

n
1.0     6
2.0     6
3.0     6
4.0     4
5.0     2
6.0     4
7.0     4
8.0     1
9.0     1
12.0    3
13.0    2
16.0    2
18.0    2
20.0    1
23.0    1
26.0    1
29.0    1
40.0    1
Name: n, dtype: int64

### Count number of n-values of Cary Grant's roles through his career.

In [88]:
filter = cast[cast['name'] == ('Judi Dench')].groupby('n')['n'].count()
filter

n
1.0     6
2.0     6
3.0     6
4.0     4
5.0     2
6.0     4
7.0     4
8.0     1
9.0     1
12.0    3
13.0    2
16.0    2
18.0    2
20.0    1
23.0    1
26.0    1
29.0    1
40.0    1
Name: n, dtype: int64

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [89]:
filter = cast[cast['name'] == ('Sidney Poitier')].groupby('n')['n'].count()
filter

n
1.0     21
2.0      8
3.0      6
4.0      3
5.0      1
10.0     1
13.0     1
21.0     1
Name: n, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [111]:
filter = cast[(cast['decade'] == 1950) & (cast['type'] == 'actor')].groupby('n')['n'].count()
filter.filter(regex='^1.0$')

n
1.0    6616
Name: n, dtype: int64

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [112]:
filter = cast[(cast['decade'] == 1950) & (cast['type'] == 'actor')].groupby('n')['n'].count()
filter.filter(regex='^2.0$')

n
2.0    4564
Name: n, dtype: int64

In [113]:
filter = cast[(cast['decade'] == 1950) & (cast['type'] == 'actress')].groupby('n')['n'].count()
filter.filter(regex='^2.0$')

n
2.0    4556
Name: n, dtype: int64

In [114]:
filter = cast[(cast['decade'] == 1950)].groupby('n')['n'].count()
filter.filter(regex='^2.0$')

n
2.0    9120
Name: n, dtype: int64