In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [7]:
filter = titles['title'].value_counts().head(10)
filter

Hamlet                  18
Carmen                  16
Macbeth                 15
Maya                    12
The Outsider            12
The Three Musketeers    11
Temptation              11
Kismet                  11
Freedom                 11
Othello                 11
Name: title, dtype: int64

### Which three years in the 1930s saw the most films released?

In [65]:
filter = titles[titles['year'].between(1930,1939)]
filter = filter.groupby(by='year').count().reset_index(names=["count"])
filter

# filter.sort_values(filter.columns[1])

   count  title
0   1930    820
1   1931    886
2   1932    936
3   1933    894
4   1934    966
5   1935   1054
6   1936   1138
7   1937   1196
8   1938   1129
9   1939   1078

### Count the number of films that have been released in each decade over the history of cinema.

### Count the number of "Hamlet" films made in each decade.

### Count the number of "Rustler" characters in each decade of the history of film.

### Count the number of "Hamlet" characters in each decade.

### What are the 11 most common character names in movie history?

### Who are the 10 people most often credited as "Herself" in film history?

### Who are the 10 people most often credited as "Himself" in film history?

### Which actors or actresses appeared in the most movies in the year 1945?

### Which actors or actresses appeared in the most movies in the year 1985?

### How many roles "Mammootty" has played in each year of his career.

### What are the 10 most frequent roles that start with the phrase "Patron in"?

### What are the 10 most frequent roles that start with the word "Science"?

### Count number of n-values of the roles that Judi Dench has played over her career.

### Count number of n-values of Cary Grant's roles through his career.

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?